%div{"ng-controller" => "WeaponsController"}
  .panel{class: random_color_class("panel")}
    .panel-heading
      %h3.panel-title= t(".search.title")
    .panel-body
      %form.form-horizontal{"ng-submit" => "search()"}
        .col-md-5
          .form-group
            %label.control-label.col-md-2= t(".search.name")
            .col-md-10
              = text_field_tag "params[name]", "", "ng-model" => "params.name", :class => "form-control"
          .form-group
            %label.control-label.col-md-2= t(".search.type")
            .col-md-10
              = select_tag "params[type]", type_columns_for_select, "ng-model" => "params.type", :include_blank => true, :multiple => true, :class => "form-control searchable", :placeholder => search_placeholder_text(t(".search.example.type"), multiple: true)
        .col-md-7
          .form-group
            %label.control-label.col-md-3= t(".search.sub_weapon")
            .col-md-9
              = select_tag "params[sub_weapon]", sub_weapon_columns_for_select, "ng-model" => "params.sub_weapon", :include_blank => true, :multiple => true, :class => "form-control searchable", :placeholder => search_placeholder_text(t(".search.example.sub_weapon"), multiple: true)
          .form-group
            %label.control-label.col-md-3= t(".search.special_weapon")
            .col-md-9
              = select_tag "params[special_weapon]", special_weapon_columns_for_select, "ng-model" => "params.special_weapon", :include_blank => true, :multiple => true, :class => "form-control searchable", :placeholder => search_placeholder_text(t(".search.example.special_weapon"), multiple: true)
          .form-group
            %label.control-label.col-md-3= t(".search.range")
            .col-md-6
              = select_tag "params[range]", range_columns_for_select, "ng-model" => "params.range", :include_blank => true, :class => "form-control searchable", :placeholder => search_placeholder_text(t(".search.example.range"))
            .col-md-3
              = select_tag "params[range_compare]", compare_columns_for_select, :class => "form-control", "ng-model" => "params.range_compare"
        .col-md-12
          = submit_tag t("common.search"), class: "btn #{random_color_class('btn')}"

  .panel{class: random_color_class("panel")}
    .panel-heading
      %h3.panel-title= t(".list.title")
    .panel-body
      - if session[:af_disable]
        = link_to t("common.af.enable"), "?af2016=true"
      - else
        = link_to t("common.af.disable"), "?af2016=false"
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th= t(".list.name")
            %th= t(".list.type")
            %th= t(".list.first_spec_html")
            %th= t(".list.second_spec_html")
            %th= t(".list.third_spec_html")
            %th= t(".list.sub_weapon")
            %th= t(".list.special_weapon")
        %tbody
          %tr.weapon{"ng-repeat" => "weapon in weapons"}
            %td {{weapon.name}}
            %td {{weapon.main_weapon.type_name}}
            %td {{weapon.main_weapon.spec1 | afconv}}
            %td {{weapon.main_weapon.spec2 | afconv}}
            %td {{weapon.main_weapon.spec3 | afconv}}
            %td {{weapon.sub_weapon.name}}
            %td {{weapon.special_weapon.name}}

- content_for(:title) do
  = t(".title")
