.panel{class: random_color_class("panel")}
  .panel-heading
    %h3.panel-title= t(".calculate.title")
  .panel-body
    %form.form-horizontal{"ng-submit" => "", "name" => "#{form_name}"}
      .col-lg-4.col-md-5.col-sm-6
        = render partial: "gear_input", locals: {form_name: "#{form_name}", attr_name: "attack-main",  max: "3", class_names: {}}
        = render partial: "gear_input", locals: {form_name: "#{form_name}", attr_name: "attack-sub",   max: "9", class_names: {rating: "rating-sub-gear"}}
        = render partial: "gear_input", locals: {form_name: "#{form_name}", attr_name: "defense-main", max: "3", class_names: {}}
        = render partial: "gear_input", locals: {form_name: "#{form_name}", attr_name: "defense-sub",  max: "9", class_names: {rating: "rating-sub-gear"}}

      .col-lg-4.col-md-5.col-sm-6
        .form-group
          %label.control-label.col-md-4.col-sm-5= t(".calculate.bomb_search")
          .col-md-8.col-sm-7
            %label.control-label
              = check_box_tag "params[bomb_search]", true, false, "ng-model" => "params.bomb_search",
                                                                  "ng-change" => "#{form_name}.$valid && calculate()"
              = t(".calculate.on")
          %label.control-label.col-md-4.col-sm-5= t(".calculate.haunt")
          .col-md-8.col-sm-7
            %label.control-label
              = check_box_tag "params[haunt_attack]", true, false, "ng-model" => "params.haunt_attack",
                                                                   "ng-change" => "#{form_name}.$valid && calculate()"
              = t(".calculate.haunt_attack")
            %label.control-label
              = check_box_tag "params[haunt_defense]", true, false, "ng-model" => "params.haunt_defense",
                                                                    "ng-change" => "#{form_name}.$valid && calculate()"
              = t(".calculate.haunt_defense")

        .form-group
          %label.control-label.col-md-4.col-sm-5= t(".calculate.power")
          .col-md-8.col-sm-7
            %label.control-label
              {{params.power.toFixed(3) | afconv }}

      .col-md-12.col-sm-12
        %p.text-danger{"ng-show" => "#{form_name}.$invalid"}
          = t(".errors.params_invalid")
