.row
  .hidden-xs
    .col-md-2.col-sm-2
      .form-group
        .input-group.col-md-12.col-sm-12
          %input.form-control{"type" => "number",
                              "name" => "#{attr_name.underscore}",
                              "ng-model" => "params.#{attr_name.underscore}",
                              "ng-change" => "#{form_name}.$valid && calculate()",
                              "min" => "0", "max" => max, "required" => true}
    .col-md-10.col-sm-10
      %span.glyphicon.zero-icon{"ng-click" => "params.#{attr_name.underscore} = 0 ; (#{form_name}.$valid && calculate())"}
      %rating{"ng-model" => "params.#{attr_name.underscore}",
              "max" => max,
              "state-on" => "'#{attr_name}-on'",
              "state-off" => "'#{attr_name}-off'",
              "ng-change" => "calculate()",
              "class" => "#{class_names[:rating]}"}
  .visible-xs
    %span.glyphicon.zero-icon{"ng-click" => "params.#{attr_name.underscore} = 0 ; (#{form_name}.$valid && calculate())"}
    %rating{"ng-model" => "params.#{attr_name.underscore}",
            "max" => max,
            "state-on" => "'#{attr_name}-on'",
            "state-off" => "'#{attr_name}-off'",
            "ng-change" => "calculate()",
            "class" => "#{class_names[:rating]}"}
