.panel{class: random_color_class("panel")}
  .panel-heading
    %h3.panel-title= t(".description.title")
  .panel-body
    = t(".description.body_html")
    = t(".description.link")
    = link_to t("common.link_text"), "http://wikiwiki.jp/splatoon2ch/?%A5%AE%A5%A2%A5%D1%A5%EF%A1%BC%B8%A1%BE%DA#k96e9830", target: "_blank", class: "external"
    = t("common.and")
    = link_to t("common.link_text"), "https://docs.google.com/spreadsheets/d/1mRSuoAv6lSGevze6XnN-hUprPrK-gXtCYNmmEMv6uSU/edit?usp=sharing", target: "_blank", class: "external"

%div{"ng-controller" => "DamagesController"}
  = render partial: "calculate_form", locals: {form_name: "params_form_top"}

  .panel{class: random_color_class("panel")}
    .panel-heading
      %h3.panel-title= t(".list.title")
    .panel-body
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th= t(".list.name")
            %th= t(".list.real_damage")
            %th= t(".list.max_damage")
            %th= t(".list.calculated_damage")
        %tbody
          %tr.weapon{"ng-repeat" => "main_weapon in main_weapons"}
            %td {{main_weapon.name}}
            %td
              {{main_weapon.real_damage.toFixed(1)}}
              = t(".list.needed_shots_1")
              {{main_weapon.real_needed_shots}}
              = t(".list.needed_shots_2")
            %td {{main_weapon.max_damage}}
            %td{"ng-class" => "{'text-warning': main_weapon.needed_shots != main_weapon.real_needed_shots}"}
              {{main_weapon.calculated_damage}}
              = t(".list.needed_shots_1")
              {{main_weapon.needed_shots}}
              = t(".list.needed_shots_2")
          %tr.weapon{"ng-repeat" => "sub_weapon in sub_weapons"}
            %td {{sub_weapon.name}}
            %td
              {{sub_weapon.real_damage.toFixed(1)}}
              = t(".list.needed_shots_1")
              {{sub_weapon.real_needed_shots}}
              = t(".list.needed_shots_2")
            %td {{sub_weapon.max_damage}}
            %td{"ng-class" => "{'text-warning': sub_weapon.needed_shots != sub_weapon.real_needed_shots}"}
              {{sub_weapon.calculated_damage}}
              = t(".list.needed_shots_1")
              {{sub_weapon.needed_shots}}
              = t(".list.needed_shots_2")

  .panel{class: random_color_class("panel")}
    .panel-heading
      %h3.panel-title= t(".list.title")
    .panel-body
      %form.form-horizontal{"ng-submit" => "", "name" => "free_weapons_form"}
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th.col-md-4.col-xs-4= t(".list.name")
              %th.col-md-2.col-xs-2= t(".list.real_damage")
              %th.col-md-2.col-xs-2= t(".list.max_damage")
              %th.col-md-4.col-xs-4= t(".list.calculated_damage")
          %tbody
            %tr.weapon{"ng-repeat" => "free_weapon in free_weapons"}
              %td
                %input.input-sm.form-control
              %td
                %ng-form{"name" => "real_damage_form"}
                  .input-group.col-md-12{"ng-class" => "{'has-error': real_damage_form.$invalid}"}
                    %input.input-sm.form-control{ "type" => "number",
                                                  "name" => "real_damage",
                                                  "ng-model" => "free_weapon.real_damage",
                                                  "ng-change" => "calculate()",
                                                  "min" => "0", "max" => "999.9"}
              %td
                %ng-form{"name" => "max_damage_form"}
                  .input-group.col-md-12{"ng-class" => "{'has-error': max_damage_form.$invalid}"}
                    %input.input-sm.form-control{ "type" => "number",
                                                  "name" => "max_damage",
                                                  "ng-model" => "free_weapon.max_damage",
                                                  "ng-change" => "calculate()",
                                                  "min" => "1", "max" => "99.9"}
              %td{"ng-class" => "{'text-warning': free_weapon.needed_shots != free_weapon.real_needed_shots}"}
                %span{"ng-show" => "!!free_weapon.calculated_damage"}
                  {{free_weapon.calculated_damage}}
                  = t(".list.needed_shots_1")
                  {{free_weapon.needed_shots}}
                  = t(".list.needed_shots_2")

  = render partial: "calculate_form", locals: {form_name: "params_form_bottom"}

.spacer-40

- content_for(:title) do
  = t(".title")
