%div{"ng-controller" => "GearsController"}
  .panel{class: random_color_class("panel")}
    .panel-heading
      %h3.panel-title
        = t(".search.title")
        %span.badge= t("common.badge.new")
    .panel-body
      %form.form-horizontal{"ng-submit" => "search()"}
        .col-md-4
          .form-group
            %label.control-label.col-md-3.col-lg-2= t(".search.name")
            .col-md-9.col-lg-10
              = text_field_tag "params[name]", "", "ng-model" => "params.name", :class => "form-control"
          .form-group
            %label.control-label.col-md-3.col-lg-2= t(".search.type")
            .col-md-9.col-lg-10
              = select_tag "params[type]", gear_type_columns_for_select, "ng-model" => "params.type", :include_blank => true, :multiple => true, :class => "form-control searchable", :placeholder => search_placeholder_text(t(".search.example.type"), multiple: true)
          .form-group
            %label.control-label.col-md-3.col-lg-2= t(".search.slot")
            .col-md-9.col-lg-10
              .checkbox
                %label.col-md-1
                  = check_box_tag "params[slot][1]", true, false, "ng-model" => "params.slot.s1"
                  1
                %label.col-md-1
                  = check_box_tag "params[slot][2]", true, false, "ng-model" => "params.slot.s2"
                  2
                %label.col-md-1
                  = check_box_tag "params[slot][3]", true, false, "ng-model" => "params.slot.s3"
                  3
        .col-md-8
          .form-group
            %label.control-label.col-md-2= t(".search.power")
            .col-md-10
              = select_tag "params[power]", gear_power_columns_for_select, "ng-model" => "params.power", :include_blank => true, :multiple => true, :class => "form-control searchable", :placeholder => search_placeholder_text(t(".search.example.power"), searchable: true, multiple: true)
          .form-group
            %label.control-label.col-md-2= t(".search.brand")
            .col-md-10
              = select_tag "params[brand]", gear_brand_columns_for_select, "ng-model" => "params.brand", :include_blank => true, :multiple => true, :class => "form-control searchable", :placeholder => search_placeholder_text(t(".search.example.brand"), searchable: true, multiple: true)
          .form-group
            %label.control-label.col-md-2= t(".search.released_version")
            .col-md-10
              .checkbox
                %label.spacer-right-5
                  = check_box_tag "params[released_version][v200]", true, false, "ng-model" => "params.released_version.v200"
                  = t(".search.v200_only")
                %label.spacer-right-5
                  = check_box_tag "params[released_version][v230]", true, false, "ng-model" => "params.released_version.v230"
                  = t(".search.v230_only")
        .col-md-12
          = submit_tag t("common.search"), class: "btn #{random_color_class('btn')}"

  .panel{class: random_color_class("panel")}
    .panel-heading
      %h3.panel-title= t(".list.title")
    .panel-body
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th= t(".list.name")
            %th= t(".list.type")
            %th= t(".list.slot")
            %th= t(".list.power")
            %th= t(".list.brand")
        %tbody
          %tr.gear{"ng-repeat" => "gear in gears"}
            %td {{gear.name}}
            %td {{gear.type_name}}
            %td {{gear.slot}}
            %td {{gear.power.name}}
            %td {{gear.brand.description}}

- content_for(:title) do
  = t(".title")
