.page-header
  %h1= t(".head")
  %h2= t(".subhead")

.panel{class: random_color_class("panel")}
  .panel-heading
    %h3.panel-title= t(".description.title")
  .panel-body
    = t(".description.body_html")

- content_for(:sidebar) do
  %h4= t("common.menu")
  %ul.nav.nav-list
    %li= link_to t("common.weapon"), weapons_path
    %li= link_to t("common.gear"), gears_path
    %li= link_to t("common.report"), report_path

- content_for(:title) do
  = t(".title")
