!!! 5
%html{"ng-app"=>"Ikadb"}
  %head
    - title = yield(:title) + t("common.application_name") + t("common.application_subtitle")
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="msapplication-TileColor" content="#da532c")
    %meta(name="msapplication-TileImage" content="/mstile-144x144.png")
    %meta(name="theme-color" content="#000000")
    %meta(property="og:title" content="#{title}")
    %meta(property="og:type" content="website")
    %meta(property="og:image" content="#{root_url}ogimage.png")
    %meta(property="og:url" content="#{request.original_url.gsub(/\?.*/,"")}")
    %meta(property="og:description" content="#{t('common.ogdesc')}")
    %meta(name="twitter:card" content="summary_large_image")
    %meta(name="twitter:site" content="@lni_T")
    %title= title
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag '/apple-touch-icon-57x57.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '57x57'
    = favicon_link_tag '/apple-touch-icon-60x60.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '60x60'
    = favicon_link_tag '/apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag '/apple-touch-icon-76x76.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '76x76'
    = favicon_link_tag '/apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag '/apple-touch-icon-120x120.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '120x120'
    = favicon_link_tag '/apple-touch-icon-144x144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag '/apple-touch-icon-152x152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '152x152'
    = favicon_link_tag '/apple-touch-icon-180x180.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '180x180'
    = favicon_link_tag '/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag '/favicon.ico', :rel => 'icon'
    = favicon_link_tag '/favicon.ico', :rel => 'shortcut icon'
    = favicon_link_tag '/favicon-16x16.png', :rel => 'icon', :type => 'image/png', :sizes => '16x16'
    = favicon_link_tag '/favicon-32x32.png', :rel => 'icon', :type => 'image/png', :sizes => '32x32'
    = favicon_link_tag '/favicon-96x96.png', :rel => 'icon', :type => 'image/png', :sizes => '96x96'
    = favicon_link_tag '/android-chrome-192x192.png', :rel => 'icon', :type => 'image/png', :sizes => '192x192'
    %link{:href => '/manifest.json', :rel => 'manifest'}
    = javascript_include_tag "application"
    = javascript_include_tag "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    = analytics_init if Rails.env.production?

  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand(href="/")= t("common.application_name")
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to_with_badge t("common.weapon"), weapons_path, t("common.badge.new")
            %li= link_to t("common.gear"), gears_path
            %li= link_to_with_badge t("common.damage"), weapons_damages_path, t("common.badge.new")
            %li= link_to t("common.report"), report_path
            %li= link_to t("common.link"), links_path

    .main-content.container
      .row
        - if ["weapons","gears","damages"].include?(controller.controller_name)
          .col-md-8.col-md-offset-2.col-sm-12.spacer-bottom-30
            %ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9326052382075030" data-ad-slot="5750658907" data-ad-format="auto")
        - if content_for?(:sidebar)
          .col-md-9
            .text-right
              = render partial: "shared/sns"
            = bootstrap_flash
            = yield
          .col-md-3
            .well.sidebar-nav
              = yield :sidebar
        - else
          .col-md-12
            .text-right
              = render partial: "shared/sns"
            = bootstrap_flash
            = yield
        .col-md-8.col-md-offset-2.col-sm-12
          %ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9326052382075030" data-ad-slot="1741848902" data-ad-format="auto")

    %footer.footer
      .container
        %p.navbar-text= t("footer.text_html")
  %script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  %script(type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async")
  %script(src="https://apis.google.com/js/platform.js" async defer)
